@tailwind base;
@tailwind components;
@tailwind utilities;


#home {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('./assets/images/background1.png');
  background-size: cover;
  background-position: center;
}

.typing-text {
    white-space: nowrap;
    overflow: hidden;
    font-size: 2rem;
  }
  
  .line {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
  }

  .typingtext2 {
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 2s steps(40, end) infinite; 
  }
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes typing {
    from {
      width: 0; /* Start with no width (invisible) */
    }
    to {
      width: 100%; /* Gradually increase width to 100% (fully visible) */
    }
  }